<nav class="app-nav-container">
    <ul>
        <li><a [routerLink]="['']">Accueil</a></li>
        <li><a [routerLink]="['/enregistrer-commande']">Enregistrer une commande</a></li>
        <li><a [routerLink]="['/afficher-commandes']">Afficher les commandes</a></li>
        <li><a [routerLink]="['/gerer-flotte']">Gérer la flotte</a></li>
        <li><a [routerLink]="['/anomalie']">Anomalie</a></li>
    </ul>
</nav>
